@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-zinc-100
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  src: url("./fonts/Roboto/Roboto-Regular.ttf")format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  src: url("./fonts/Roboto/Roboto-Bold.ttf")format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  src: url("./fonts/Roboto/Roboto-Light.ttf")format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BaiJamjuree-Regular';
  font-style: normal;
  src: url("./fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf")format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BaiJamjuree-Bold';
  font-style: normal;
  src: url("./fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf")format('opentype');
  font-display: swap;
}
